* { 
    /* font settings for the web page*/
      color:rgb(3, 3, 3);
      font-family: 
      "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
      "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  }
  
  /* background image setting */
  body {
      background-image: url("images/Background.png");
      background-size: cover;
  }


h2 {
  font-size: 40px;  
}
    
h3 {
  font-size: 40px; 
}
    
h2, h3 {
  width: 50%;
  height: 60px;
  margin: 0;
  padding: 0;
  display: inline;
  margin-right: 0em;  
  margin-left: 9em  
}      

#container {
    display: flex; 
    /* justify-content: center;
    align-content: center;*/
    flex-wrap: wrap; 
    background-color: rgb(255, 255, 255);
    height: 100%;
    align-items: center;
    flex-direction: column;
}

/* implementing the characteristics of the guessing grid */
.guess-grid {
    display: grid;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    grid-template-columns: repeat(5, 4em);
    grid-template-rows: repeat(6, 4em);
    gap: .25em;
    margin-bottom: 1em;
  }

.Multi-guess-grid1 {
    display: inline-grid;
    justify-content: left;
    align-content: center;
    flex-wrap: wrap;
    grid-template-columns: repeat(5, 3.5em);
    grid-template-rows: repeat(6, 3.5em);
    gap: .25em;
    margin-bottom: 1em;
    margin-right: 2em;
    margin-left: 20em;      
}

.Multi-guess-grid2 {
  display: inline-grid;
  justify-content: right;
  align-content: center;
  flex-wrap: wrap;
  grid-template-columns: repeat(5, 3.5em);
  grid-template-rows: repeat(6, 3.5em);
  gap: .25em;
  margin-bottom: 1em;
  margin-left: 4em;    
}

.AnswerGrid {
  display: inline-grid;
  justify-content: right;
  align-content: center;
  flex-wrap: wrap;
  grid-template-columns: repeat(5, 3.5em);
  grid-template-rows: repeat(1, 3.5em);
  gap: .25em;
  margin-bottom: 1em;
  margin-right: 1em;    
  margin-left: 6em;  
}

/* default empty tile settings for user grid */
.tile {
  /*BACKGROUND*/
background-color: cornflowerblue;
border: .05em solid black;

/*LETTERRS*/ 
font-size: 2.5em;
color: black;
text-transform: uppercase;
font-weight: bold;
display: flex;
justify-content: center;
align-items: center;
user-select: none;
transition: transform 250ms linear;

}

/* setting currently selected tile */
.tile[data-state="active"] {
border-color: black;
}

/* setting characteristics of wrong letter tile */
.tile[data-state="wrong"] {

background-color: red;
}

/* setting characteristics of right letter wrong location tile */
.tile[data-state="wrong-location"] {

background-color: yellow;
}

/* setting characteristics of correct letter in right tile */
.tile[data-state="correct"] {

background-color:forestgreen;
}

/* default empty tile settings for enemy grid */
.tile2 {
  /*BACKGROUND*/
background-color: rgb(17, 74, 180);
color: transparent;
border: .05em solid black;
}

/* setting currently selected tile */
.tile2[data-state="active"] {
border-color: black;
}

/* setting characteristics of wrong letter tile */
.tile2[data-state="wrong"] {

background-color: red;
}

/* setting characteristics of right letter wrong location tile */
.tile2[data-state="wrong-location"] {

background-color: yellow;
}

/* setting characteristics of correct letter in right tile */
.tile2[data-state="correct"] {

background-color:forestgreen;
}

  /*Onscreen keyboard container settings */
#onScreenkeyboard-container{
  height: 100px
  }
  
.keyboard{
display: grid;
grid-template-columns: repeat(20, minmax(auto, 2em));
grid-auto-rows: 4em;
gap: .20em;
align-items: end;
width: 100%;
margin:0  auto 8px;
touch-action: manipulation;
justify-content: center;
resize: both;
}
/*Onscreen keyboard settings per button */
.key{
  
  font-family: inherit;
  grid-column: auto/ span 2;

  align-self: auto;
  font-size:clamp(.5rem,2.5vmin,1.5rem) ;
  font-weight: bolder;
  justify-content: center;
  align-items: center;
  border: 0.7ch;
  padding: 0;
  height: 3em;
  width: 7em;
  cursor: pointer;
  background-color: aqua;
  color: #000000;
  flex-grow: 1;
  text-transform: uppercase;
  margin-right: 1px;
  border-radius: 3px;
 
}
/*Setting to make larger buttons */
.key.wide-button {
  flex-grow: 1.6;
}

.spacer-half{
  flex-grow: 0;
}

.WordSetter{
  border: black;
  color: white;
  background-color: green; 
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
}


.buttonMenu {
  background-color: #f50606; 
  border: black;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 4px;
} 
.key.wrong {
  background-color: red;
}

.key.wrong-location {
 background-color: yellow;
}

.key.correct {
  background-color: forestgreen;
}

.popUpcontainer {
position: fixed;
top: 15vh;
left: 27.3vw;
transform: translateX(50%);
z-index: 1;
display: flex;
flex-direction: column;
align-items: center;

}
.popUp {
opacity: 1;
pointer-events: none;
background-color: aliceblue;
padding: .75em;
align-content: center;
color: #000000;
font-weight: bolder;
border-radius: .25em;
transition: opacity 500ms ease-in-out;
margin-bottom: .5em;
size-adjust: 1000px;
font-size: large;
}
.popUp:last-child{

margin-bottom: 0;
}
.popUp.hide{
opacity:0;
}

.connected, .ready {
font-weight: normal;
}

.connected span,
.ready span {
display: inline-block;
width: 1rem;
height: 1rem;
background: red;
}

.connected.active,
.ready.active {
opacity: 1;
text-decoration: none;
background: green;
}

span.green {
background: green;
}