<!DOCTYPE html>
<html> 

    <head>
        <!--setting web page dimension characteristics and compatibility settings-->
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Oh My Wordle</title>

        <!--Bootstrap libraries, css and javascript files-->
        <link rel="stylesheet" href="css/bootstrap.css">
        <link rel="stylesheet" href="css/styles.css">
        <script src="gamePage.js" defer></script>        

    </head>
    <body>
        <!-- setting page title container -->
   <div class="container">
        <div class="text-center my-4">
            <h1><strong>OH MY WORDLE!</strong></h1>
        </div>
     
        <!-- creating the tiles for the guessing grid using bootstrap 5-->
        <div data-guess-grid class="guess-grid">
          <div class="tile" ></div>
          <div class="tile" ></div>
          <div class="tile" ></div>
          <div class="tile" ></div>
          <div class="tile"></div>
          <div class="tile"></div>
          <div class="tile"></div>
          <div class="tile"></div>
          <div class="tile"></div>
          <div class="tile"></div>
          <div class="tile"></div>
          <div class="tile"></div>
          <div class="tile"></div>
          <div class="tile"></div>
          <div class="tile"></div>
          <div class="tile"></div>
          <div class="tile"></div>
          <div class="tile"></div>
          <div class="tile"></div>
          <div class="tile"></div>
          <div class="tile"></div>
          <div class="tile"></div>
          <div class="tile"></div>
          <div class="tile"></div>
          <div class="tile"></div>
          <div class="tile"></div>
          <div class="tile"></div>
          <div class="tile"></div>
          <div class="tile"></div>
          <div class="tile"></div>
        </div>
     <!--Container with keyboard buttons in it for the on screen keyboard-->
         <!--First row of with keyboard buttons in it fot the keyboard-->
     <div class="onScreenkeyboard-container">
        <div class="keyboard-row">
            <button class="key" data-key="q">q</button>
            <button class="key" data-key="w">w</button>
            <button class="key" data-key="e">e</button>
            <button class="key" data-key="r">r</button>
            <button class="key" data-key="t">t</button>
            <button class="key" data-key="y">y</button>
            <button class="key" data-key="u">u</button>
            <button class="key" data-key="i">i</button>
            <button class="key" data-key="o">o</button>
            <button class="key" data-key="p">p</button>
        </div>
        <!--second row with keyboard buttons in it for the on screen keyboard-->
        <div class="keyboard-row">
            <div class="spacer-half"></div>
            <button class="key" data-key="a">a</button>
            <button class="key" data-key="s">s</button>
            <button class="key" data-key="d">d</button>
            <button class="key" data-key="f">f</button>
            <button class="key" data-key="g">g</button>
            <button class="key" data-key="h">h</button>
            <button class="key" data-key="j">j</button>
            <button class="key" data-key="k">k</button>
            <button class="key" data-key="l">l</button>
            <button class="key" data-enter class="wide-button">enter</button>
            <div class="spacer-half"></div>
            
        </div>
        <!--third row  with keyboard buttons in it for the on screen keyboard-->
        <div class="keyboard-row">
            <div class="spacer-half"></div>
            <button class="key" data-key="z">z</button>
            <button class="key" data-key="x">x</button>
            <button class="key" data-key="c">c</button>
            <button class="key" data-key="v">v</button>
            <button class="key" data-key="b">b</button>
            <button class="key" data-key="n">n</button>
            <button class="key" data-key="m">m</button>
            <button class="key" data-delete class= "wide-button">delete</button>
            
        </div>
        <button style = "position:absolute; right:80px; bottom:20px;" class="buttonMenu" id="Back">Back</button>
        </div>

<!--include javascript files-->
<script src="js/bootstrap.bundle.js"></script>
<script src="gamePage.js"></script>

<script>
    const Backbutton= document.getElementById('Back')
    //Back button destination
    Backbutton.addEventListener('click', function () {
    window.location.href = ("/home");
}, false)

</script>

</html>