<!DOCTYPE html>
<html lang="en">
<head>
<title>OMW! Game Menu</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- Bootstrap library inclusions -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

<!-- Set style -->
<link rel="stylesheet" href="/styles.css"/>


<!-- Set button look -->
<style>
.button {
    background-color: #f50606; 
    border: black;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
</style>


</head>
<body class="body2">
    
    <!--Button test-->
    <div class="row justify-content-center ">
        <div class="col-lg-6 justify-content-center">
            <form action="/home" method="post">
                <div class="text-center my-4">
                    <button type="button text-center" class="btn btn-dark btn-lg my-4">do the multiplayer stuff</button>
                </div>
            </form>
        </div>
    </div>
    
    
    <!-- Game Menu Page -->
    <div class="container">
        <div class="text-center my-4">
             <!-- All the different buttons for navigation -->
            <h1 id="heading" style="color:black">Oh My Wordle!!!</h1>
            <br>
            <button class="button" id="SinglePlayer">SinglePlayer</button>
            <br>
            <button class="button" id="MultiplayerVs">Multiplayer Versus</button>
            <br>
            <button class="button" id="MultiplayerWC">Multiplayer Word Guess</button>
            <br>
            <button class="button" id="Scoreboard">Scoreboard</button>
            <br>
            <button class="button" id="Instructions">Instructions</button>
            <br>
            <button style = "position:absolute; right:80px; bottom:20px;" class="button" id="Logout">Logout</button>
            <br>
            <button style = "position:absolute; left:80px; bottom:20px;" class="button" id="About">About</button>
</body>

<!-- JS script to run with ejs file -->
<script>
const Singlebutton = document.getElementById('SinglePlayer')
const MultiVsbutton = document.getElementById('MultiplayerVs')
const MultiWCbutton = document.getElementById('MultiplayerWC')
const Scorebutton = document.getElementById('Scoreboard')
const Logoutbutton = document.getElementById('Logout')
const Instbutton= document.getElementById('Instructions')
const Aboutbutton= document.getElementById('About')

//Single player button destination
Singlebutton.addEventListener('click', function () {
    window.location.href = ("/singleplayer")
}, false)

//Versus Multiplayer button destination
MultiVsbutton.addEventListener('click', function () {
    window.location.href = ("/queue")
}, false)

//Word challengeMultiplayer button destination
MultiWCbutton.addEventListener('click', function () {

}, false)

//Scoreboard button destination
Scorebutton.addEventListener('click', function () {
    window.location.href = ("/scoreboard")
}, false)

//Logout button destination
Logoutbutton.addEventListener('click', function () {
    window.location.href = ("/users/login");
}, false)

//Instructions button destination
Instbutton.addEventListener('click', function () {
    window.location.href = ("/instructions");
}, false)

//About button destination
Aboutbutton.addEventListener('click', function () {
    window.location.href = ("/about");
}, false)

</script>

</html>