<!DOCTYPE html>
<html lang="en">
<head>
<title>OMW! Game Menu</title>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<!-- Bootstrap library inclusions -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- Set style -->
<link rel="stylesheet" href="/styles.css"/>


<!-- Set button look -->
<style>
.button {
    background-color: #f50606; 
    border: black;
    border-radius: 3px;
    color: white;
    padding: 15px 32px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
</style>


</head>
<body class="body2">
  
        <!-- Page spacing where the headings and form gets presented -->
        <div class="container">

            <!-- Creates a grid within the container -->
            <div class="row justify-content-center my-4">
                <div class="col justify-content-center">
                  <br>
                  <br>
                        <!-- Image card -->
                        <div class="card bg-white mb-3" >
                            <div class="row">
    
                              <div class="col-md-6">
                                <img src="/images/MenuImage.png" class="img-fluid rounded-start" alt="WordleImage" width="800px" height="750px">
                              </div>
    
                              <div class="col-md-6 text-center my-auto">
                                <div class="card-body">
    
                <button class="button" id="SinglePlayer" name="SinglePlayer">SinglePlayer</button>
                <br>
                <button class="button" id="MultiplayerVs" name="MultiplayerVs">Multiplayer</button>
                <br>
                <button class="button" id="MultiplayerWC" name="MultiplayerWC">Custom Multiplayer</button>
                <br>
                <form action="/scoreboard" method="get">
                    <button class="button" id="Scoreboard" name="Scoreboard">Scoreboard</button>
                </form>
                <button class="button" id="Instructions" name="Instructions">Instructions</button>
                <br>
                <button class="button" id="About" name="About">About</button>
                <br>
                <button class="button" id="Logout" name="Logout">Logout</button>
                
                                </div>
                              </div>
    
                            </div>
                          </div>
                </div>
            </div>
        </div>
</body>

<!-- JS script to run with ejs file -->
<script>
const Singlebutton = document.getElementById('SinglePlayer')
const MultiVsbutton = document.getElementById('MultiplayerVs')
const MultiWCbutton = document.getElementById('MultiplayerWC')
const Scorebutton = document.getElementById('Scoreboard')
const Logoutbutton = document.getElementById('Logout')
const Instbutton= document.getElementById('Instructions')
const Aboutbutton= document.getElementById('About')

//Single player button destination
Singlebutton.addEventListener('click', function () {
    window.location.href = ("/singleplayer")
}, false)

//Versus Multiplayer button destination
MultiVsbutton.addEventListener('click', function () {
    window.location.href = ("/queue")
}, false)

//Word challengeMultiplayer button destination
MultiWCbutton.addEventListener('click', function () {
    window.location.href = ("/queueB")
}, false)

//Logout button destination
Logoutbutton.addEventListener('click', function () {
    window.location.href = ("/users/login");
}, false)

//Instructions button destination
Instbutton.addEventListener('click', function () {
    window.location.href = ("/instructions");
}, false)

//About button destination
Aboutbutton.addEventListener('click', function () {
    window.location.href = ("/about");
}, false)

</script>

</html>