<!DOCTYPE html>
<html lang="en">
<head>
<title>OMW! Game Instructions</title>
<meta charset="utf-8" />

<!-- Bootstrap library inclusions -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<!-- Set style -->
<link rel="stylesheet" href="/styles.css"/>

<style>
   
   /* Button apperance values */
    .button {
        background-color: #f50606; 
        border: black;
        color: white;
        padding: 15px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 20px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 4px;
    }
    /* Different text colours */
    .Greentext { 
        color: green;
      }
    .Yellowtext { 
        color: yellow;
      }
    .GreyText {
        color: grey;
      }
      /* Setting backround image */
      body {
    background-image: url('/images/GameImage.jpg');
    font-family: "Georgia", Times, serif;
    }
    </style>

</head>

<body class="body2">
    <div class="container">
        <br>
        <!-- Image card -->
        <div class="card bg-primary mb-3" >
        <div class="text-center my-4">
            <h1 id="heading">OMW! Instructions</h1>
            <br>
        </div>
        </div>
    </div>

    <div class="container">
        <div class="card bg-white mb-3" >
        <div class="row">
        <div class="col">
            
            <img src="/images/instructions.png" class="img-fluid rounded-start" alt="WordleImage" width="600px" height="550px">
        </div>
        <div class="col">
        <div class="my-4">
            <!-- Singleplayer instructions -->
            <h2 id="heading2">SinglePlayer</h2>
            <br>
            
            <h4 id="paragraph"> 
                <ul>
                    <li>The goal of the game is to guess the hidden five letter word.</li>
                    <li>The game is played on a five wide and six long grid.</li>
                    <li>Your five letter words are placed in the grid.</li>
                    <li>All guesses must be real words.</li>
                    <li>You have 6 guesses to get the correct word but you will be rewarded for guesses along the way.</li>
                    <li>If a block in your guess turns yellow then the letter in your guess is correct but in the wrong position. So the letter is in one of the other positions.</li>
                    <li>If a letter in your guess turns Green then the letter in your guess is the correct letter and in the right location.</li>
                    <li>Using this information you can try and find the correct word without running out of guesses.</li>
                    <li>There is a helpful keyboard below that shows you your guesses, both wrong, yellow and green.</li>
                  </ul>

            </h4>
            <br>
        </div>
        </div>
        </div>
    </div>
    </div>
        
    <div class="container">
        <div class="card bg-white mb-3" >
            <div class="row">
            <div class="col">
                
                <img src="/images/instructions.png" class="img-fluid rounded-start" alt="WordleImage" width="600px" height="550px">
            </div>
            <div class="col">
        <div class="my-4">
            <h2 id="heading2">MultiPlayer</h2>
            <br>
             <!-- Multiplayer instructions -->
            <h4 id="paragraph">
                <ul>
                    <li>During versus MultiPlayer you cannot see the letters that your opponent has guessed.</li>
                    <li>but you can see the Yellow and Green boxes they have guess so far.</li>
                    <li>The first player to guess the correct five letter word is the winner.</li>
                    <li>During word challenge Multiplayer player one sets a five letter word for player two  to guess.</li>
                    <li>If the word is not guessed player one wins. If the word is guessed player two wins.</li>
                    
                  </ul>
                <br>

            </h4>
            </div>
    <button style = "position:absolute; right:80px; bottom:20px;" class="button" id="Back" name="backButton">Back</button>        
             <!-- Back Button position bottom right -->
</body>

<!-- JS script to run with ejs file -->
<script>
const Backbutton= document.getElementById('Back')

//Back button destination
Backbutton.addEventListener('click', function () {
    window.location.href = ("/home");
}, false)

</script>


</html>