<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>OMW! Multiplayer</title>
    <!--style and socket library inclusions-->
    <link rel="stylesheet" href="/styles2.css"/>
    <script src="/socket.io/socket.io.js"></script>

  </head>
  <body>

    <button id="singlePlayerButton">Single Player</button>
    <button id="multiPlayerButton">Multiplayer</button>

    <!--Divisions to confirm whether a player has connected-->
    <div class="player p1">
      Player 1
      <div class="connected">Connected <span></span></div>
      <div class="ready">Ready <span></span></div>
    </div>
    <div class="player p2">
      Player 2
      <div class="connected">Connected <span></span></div>
      <div class="ready">Ready <span></span></div>
    </div>

    <div class="container">
        <div class="grid grid-user"></div>
        <div class="grid grid-computer"></div>
    </div>

    <!--Buttons for game control-->
    <div class="hidden-info">
      <button id="start">Start Game</button>
      <button id="rotate">Rotate Your Ships</button>
      <h3 id="whose-go">Your Go</h3>
      <h3 id="info"></h3>
    </div>

  </body>


  <!--Insert game and socket connection logic here-->
<script>

//Restarts socket
const socket=io()
let clientroom;

//Checks the room number of the client
socket.on('serverMsg',(data)=>{
    console.log(`I should be in room ${data}`)
        clientroom=data;
})


</script>

  
</html>