<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>OMW! Multiplayer</title>
    <link rel="stylesheet" href="/styles2.css"/>
    <script src="/socket.io/socket.io.js"></script>

  </head>
  <body>


  </body>
</html>